# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [295]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [293]:
#Groupy by total amount spent for each customer
tops = orders.groupby(["CustomerID"]).agg({"amount_spent":"sum"}).sort_values(by="amount_spent", ascending=False)
tops.head(5)

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06

In [120]:
#Creating Lables and also the Cutoffs.
labels = ["Regular","Preferred","VIP"]
cutoffs = [tops["amount_spent"].quantile(q=0),tops["amount_spent"].quantile(q=0.50),tops["amount_spent"].quantile(q=0.95),tops["amount_spent"].max()]
cutoffs

[0.0, 674.4499999999998, 5840.181999999983, 280206.01999999984]

In [126]:
#cut function and also putting the bin as a new column in the Dataframe
bins = pd.cut(tops["amount_spent"], cutoffs, labels=labels, include_lowest=True)
tops["BINS"] =  bins

In [127]:
#Just checking how many customers for each type
tops.groupby(["BINS"])["BINS"].agg("count")

BINS
Regular      2170
Preferred    1952
VIP           217
Name: BINS, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [202]:
country = orders.groupby(["Country","CustomerID"]).agg({"amount_spent":"sum"})

# I use this command to put Country index as Columns

country.reset_index(level=0, inplace=True)
country.head()

              Country  amount_spent
CustomerID
12386       Australia        401.90
12388       Australia       2780.66
12393       Australia       1582.60
12415       Australia     124914.53
12422       Australia        386.20

In [290]:
# Than merged the two dataframes TOPS and Conntries
tops_with_country = pd.merge(tops,country,on="CustomerID")

# Select only the labels VIPS and Preferred
preferred_vips = tops_with_country.query("BINS=='Preferred'|BINS=='VIP'")

## Total of VIPS + Preferred

In [303]:
preferred_vips.groupby(["Country"])["BINS"].agg({"VIPS + Preferred":"count"}).sort_values(by="VIPS + Preferred",ascending=False).head(5)

C:\Users\denes\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

                VIPS + Preferred
Country
United Kingdom              1907
Germany                       61
France                        50
Belgium                       19
Spain                         19

In [292]:
#Select only VIPS customers
vips_only = tops_with_country.query("BINS=='VIP'")
vips_only.groupby(["Country"]).agg({"BINS":"count"}).sort_values(by="BINS",ascending=False).head(5)

                BINS
Country
United Kingdom   177
Germany           10
France             9
Switzerland        3
Spain              2

In [302]:
vips_only.groupby(["Country"])["BINS"].agg({"ONLY VIPS":"count"}).sort_values(by="ONLY VIPS",ascending=False).head(5)

C:\Users\denes\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

                ONLY VIPS
Country
United Kingdom        177
Germany                10
France                  9
Switzerland             3
Spain                   2